body {
	background: black;
}

form {
	--text-color: rgb(255, 255, 255);
	max-width: 500px;
}

.field {
	width: 100%;
	position: relative;
	border-bottom: 2px dashed var(--text-color);
	margin: 4rem auto 1rem;
}

.label {
	color: var(--text-color);
	font-size: 1.2rem;
}

.input {
	outline: none;
	border: none;
	overflow: hidden;
	margin: 0;
	width: 100%;
	padding: 0.25rem 0;
	background: none;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: bold;
}

.field::after {
	content: "";
	position: relative;
	display: block;
	height: 4px;
	width: 100%;
	background: rgb(255, 242, 0);
	transform: scaleX(0);
	transform-origin: 0%;
	transition: transform 500ms ease;
	top: 2px;
}

.field:focus-within {
	border-color: transparent;

}

.field:focus-within::after {
	transform: scaleX(1);
}
